.card {
  background-color: #fff;
  padding: 32px;
  border-radius: 16px;
  width: 340px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 2);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  margin: 0;
  align-self: center;
  margin: 16px;
  font-size: 16pt;
}

form {
  width: auto;
  align-items: center;
}

.input {
  padding: 12px 5px;
  border-radius: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  width: 97%; 
}
  
.botao {
  margin-top: 20px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.botao:hover {
  background-color: #8c52ff;
}

.text {
  /* background-color: #e20101b8; */
  /* padding: 15px; */
  color: #e20101b8;
  /* border-radius: 5px; */
}
