.app-bar {
  position: static !important;
  width: 100% !important;
  background-color: #1e1e1e !important;
  box-shadow: none !important;
}

.botao-menu {
  position: relative;
  margin: 0 8px !important;
  color: #fff !important;
  transition: all 0.3s;
}

.botao-menu::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: width 0.3s;
}

.botao-menu:hover::after {
  width: 100%;
}