.table-head {
    text-transform: capitalize;
    font-weight: bolder !important;
    background-color: #beecdf;
}

.btn-adicionar {
    background-color: green !important;
    color: aliceblue !important;
}