.card {
  background-color: #fff;
  padding: 32px;
  border-radius: 16px;
  width: 340px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  margin: 0;
  margin-bottom: 8px
}

.input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc
}
  
.botao {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #111827;
  color: #fff;
  cursor: pointer;
}

.text {
  color: #333;
}